<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Form</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form id="dropdownForm">
        <label for="dropdown">Этап производства:</label>
        <select id="dropdown" name="dropdown">
            <option value="Раскрой">Раскрой</option>
            <option value="Фрезировка">Фрезировка</option>
            <option value="Шлифовка">Шлифовка</option>
            <option value="Клей">Клей</option>
            <option value="Пленка">Пленка</option>
            <option value="Готов">Готов</option>
            <option value="Упаковка">Упаковка</option>
            <option value="Отгружен">Отгружен</option>
        </select>
        <button type="button" id="submitButton">Отправить</button>
    
    <div id="message", style="display: none;"></div>
    
    </form>
    <script src="static/script.js"></script>
</body>
</html>
